body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  margin-right: 0;
  overflow-x: hidden;
}

.navbar{
  position: fixed;
  top: 0;
  left:  0;
  right: 0;
  z-index: 1000;
}

.nav-container{
  width: 1600px;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .nav-toggle {
    display: block;
  }
}
.brand-logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.navbar-brand {
  padding: 0;
}

.brand-logo img {
  height: auto;
  width: 50;
  margin-left: 50px;
}

.nav-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  margin: 0 5rem;
  color: #000000;
  font-size: 1.1rem;
  font-weight: 500;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}

.nav-link:hover {
  color: #000000;
  text-decoration: underline;
  text-decoration-color: red;
  text-underline-offset: 10px;
  text-decoration-thickness: 2px;
}


.nav-search-container{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.search-bar{
  width: 100%;
  max-width:  320px;
  border-radius: 30px;
}

.d-none{
  display: none;
}

.nav-searchButton{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.search-btn {
  background-color: #00000000;
  border: none;
  color: #000000;
  font-size: 1.3rem;
  cursor: pointer;
}



.home-image figcaption {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align:left
}

.home-image h1 {
  margin-bottom: 10px;
}

.home-image h2 {
  margin-bottom: 20px;
}

.home-image .btn {
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  width: 110px;
  border-radius: 30px;
  border: 2px solid white;
  margin-left: 75px;
  background-color: black;
  transition: background-color  .5s ease;
  animation: fill-from-bottom  3s linear forwards;
}

.home-image .btn:hover{
  background-color: red;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animation-container .animation-target {
  animation: fadeIn 1s ease-out forwards;
}


.text-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
    text-align: center;
    font-family:var(--font-primary) ;
    font-style: normal;
 }

 .card-container
  { display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    margin: 0 -15px; 
    height: 650px;
  }
 .card-container .card 
 { 
  width: 400px;
  margin: 15px; 
  box-shadow: 2px 5px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s; 
}

.card-container .card:hover 
{ 
  transform: scale(1.02);
}

.card {
  background-color: #fff; /* Initial background color */
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

@media (max-width: 768px)  
{ .card-container  
  { opacity: 0;
    transition: opacity 0.5s ease-in-out;  
  }
  .card-container .visible{
    opacity: 1;
  }
}

#colorPicker {
  width: 12%; /* Match container width */
  height: 15px; /* Adjust height as needed */
  background-color: rgb(0, 191, 255);
  border: none;
  border-radius: 30px;
}

.home-image figcaption {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  text-align:left
}



.home-image2 h1 {
  margin-bottom: 10px;
}

.home-image2 h2 {
  margin-bottom: 20px;
}

.home-image2 .btn {
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  width: 110px;
  border-radius: 30px;
  border: 2px solid white;
  margin-left: 75px;
  background-color: black;
  transition: background-color  .5s ease;
  animation: fill-from-bottom  3s linear forwards;
}

.home-image2 .btn:hover{
  background-color: red;
}


.card-container2
  { 
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
    margin: 0 -15px; 
    height: 650px;
  }
 .card-container2 .card2
 { 
  width: 400px;
  margin: 15px; 
  box-shadow: 2px 5px rgba(0, 0, 0, 0.1); 
  transition: transform 0.3s; 
}

.card-container2 .card2:hover 
{ 
  transform: scale(1.02) ;
}

.card2 {
  background-color: #fff; /* Initial background color */
  border: 1px solid #ddd;
  border-radius: 40px;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card2 h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.reg-page {
  background: linear-gradient(to bottom, #7a7a7a 0%, #1a1a1a 77.59%);
  padding: 2rem;
}

.container3 {
  background: linear-gradient(to bottom, #7a7a7a 0%, #1a1a1a 77.59%);
  padding: 2rem;
  height: 600px;
}

.container3 img{
  width: 518px;
  height: 483px;
  align-items: center;
  margin-left: 140px;
}
.content h2 {
  font-size: 2.5rem;
  font-family: fantasy;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-top: -300px;
  margin-left: 200px;
  transform: uppercase;
}

.content .btn {
  color: rgb(0, 0, 0);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding: 10px 20px;
  font-size: 15px;
  width: 156px;
  height: 50px;
  border-radius: 30px;
  border: 2px solid white;
  margin-left: 75px;
  background-color: rgb(255, 255, 255);
  transition: background-color  .5s ease;
  animation: fill-from-bottom  3s linear forwards;
  margin-left: 655px;
}

.content .btn:hover{
  color: white;
  background-color: red;
}

.container4 p {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 2.5rem;
  font-size: 0.7rem;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.container4 a {
  color: #007bff;
  text-decoration: underline;
}

/* Newsletter section */

.container5{
  margin: 0 auto;
  text-align: center;
  padding: 20px;
  background-color: #000000;
  border-radius: 5px;
}

#newsletter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #000000;
}

#newsletter svg {
  margin-bottom: 20px;
}

#newsletter h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#newsletter p {
  font-size: 16px;
  margin-bottom: 20px;
  color: white;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* Mail input field */

.form-group.newsletter {
  position: relative;
}

.form-group.newsletter input[type="email"] {
  width: 300px;
  height: 53px;
  color: white;
  padding: 20px;
  background-color: #000000;
  border: 1px solid #ccc;
  border-radius: 20px;
  outline: none;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-group.newsletter input[type="email"]::placeholder {
  color: #ccc;
  position:absolute;
  top: 16px;
  left: 20px;
  transition: top 0.3s ease;

}



.form-group.newsletter input[type="email"]:focus::placeholder {
  top: 0px;
  font-size: 12px;
}

.form-group.newsletter input[type="email"]:invalid{
  border-color: red;
}

.form-group.newsletter input[type="email"]:focus {
  border-color: #ffffff;
}

.form-group.newsletter.invalid-msg{
  color: red;
  font-size: 12px;
  margin-top: 5x;
  display: none;
}

.form-group.newsletter input[type="email"].invalid + .invalid-msg{
  display: block;
}


.form-check {
  display: flex;
  align-items: center;
  margin-top: 60px;
}

.form-check-input {
  margin-right: 10px;
  background-color: black;
  border: white solid 2px;
  width:  24px;
  height: 24px;
  box-shadow: none;
}

.form-check-input:focus {
  box-shadow: none;
  outline: white solid 2px;
  background-color: rgb(0, 0, 0);
  color: #000000;
}

.form-check-label {
  flex: 1;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.sign-up {
  margin-top: 20px;
  text-align: center;
}

.btn2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(255, 255, 255);
  color: #000000;
  border: none;
  border-radius: 30px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.form-elements .form-check,
.form-elements .sign-up {
  display: none;
}

.footer {
  background-color: #ffffff;
  color: #000000;
  padding: 3rem;
  display: flex;
  justify-content: space-between;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-section {
  flex-basis: calc(20% - 2rem);
  margin: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  width: 300px;
  height: 331px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.footer-section .legal{
  margin-top: 5rem;
}

.footer-section .social-media{
  margin-top: 2rem;
}

.footer-section h4 {
  margin: 0 0 1rem;
  font-size: 20px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.footer-section .large-icon{
  color:#7a7a7a;
}

.large-icon{
  font-size: 1.5rem;
}

.footer-section i:hover{
  color: #000000;
}

.footer-section ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-section li {
  margin-bottom: 0.5rem;
}

.footer-section a {
  color: #000000;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
  text-decoration-color: red ;
  text-underline-offset: 5px;
}

.footer-section svg{
  width: 24px;
  height: 24px;
}

.footer-section button{
  border: #000000 solid 1px;
  background-color: transparent;
  cursor: pointer;
  display: inline-block;
  width: 160px;
  height: 40px;
  border-radius: 20px;
}

.footer-section button:hover{
  background-color: #000000;
  color: white;
}

.foot-note{
  background-color: white;
  text-align: center;
  height: 100px;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}




